fm-app/.vs/FM/v15/Server/sqlite3/storage.ide-shm
fm-app/.vs/FM/v15/Server/sqlite3/storage.ide-wal
AE.Graphics.Wpf/bin/Debug/AE.Graphics.Wpf.dll
AE.Graphics.Wpf/bin/Debug/AE.Graphics.Wpf.pdb
AE.Graphics.Wpf/bin/Debug/DocumentFormat.OpenXml.dll
AE.Graphics.Wpf/bin/Debug/DocumentFormat.OpenXml.xml
AE.Graphics.Wpf/bin/Debug/Microsoft.Expression.Controls.dll
AE.Graphics.Wpf/bin/Debug/Microsoft.Expression.Drawing.dll
AE.Graphics.Wpf/bin/Debug/Microsoft.Expression.Effects.dll
AE.Graphics.Wpf/bin/Debug/Microsoft.Expression.Interactions.dll
AE.Graphics.Wpf/bin/Debug/Microsoft.Expression.Prototyping.Interactivity.dll
AE.Graphics.Wpf/bin/Debug/Microsoft.Expression.Prototyping.SketchControls.dll
AE.Graphics.Wpf/bin/Debug/Microsoft.SDK.Expression.Blend.dll
AE.Graphics.Wpf/bin/Debug/System.Windows.Interactivity.dll
AE.Graphics.Wpf/obj/Debug/AE.Graphics.Wpf.csproj.CoreCompileInputs.cache
AE.Graphics.Wpf/obj/Debug/AE.Graphics.Wpf.csproj.FileListAbsolute.txt
AE.Graphics.Wpf/obj/Debug/AE.Graphics.Wpf.dll
AE.Graphics.Wpf/obj/Debug/AE.Graphics.Wpf.g.resources
AE.Graphics.Wpf/obj/Debug/AE.Graphics.Wpf.pdb
AE.Graphics.Wpf/obj/Debug/AE.Graphics.Wpf_MarkupCompile.cache
AE.Graphics.Wpf/obj/Debug/AE.Graphics.Wpf_MarkupCompile.lref
AE.Graphics.Wpf/obj/Debug/GeneratedInternalTypeHelper.g.cs
AE.Graphics.Wpf/obj/Debug/GitInfo.cache
AE.Graphics.Wpf/obj/Debug/ThisAssembly.GitInfo.g.cs
AE.Graphics.Wpf/obj/Debug/Styles/AEStyles.baml
AE.Graphics.Wpf/obj/Debug/Styles/AEStyles.g.cs
AE.Graphics.Wpf/obj/Debug/Styles/AEStyles.g.i.cs
AE.Graphics.Wpf/obj/Debug/View/AE2FileSelectionView.baml
AE.Graphics.Wpf/obj/Debug/View/AEFileSelectionView.baml
AE.Graphics.Wpf/obj/Debug/View/AEInfoView.baml
AE.Graphics.Wpf/obj/Debug/View/AEInputView.baml
AE.Graphics.Wpf/obj/Debug/View/AELinkView.baml
AE.Graphics.Wpf/obj/Debug/View/AEMessageBoxView.baml
AE.Graphics.Wpf/obj/Debug/View/AEMultipleInputView.baml
AE.Graphics.Wpf/obj/Debug/View/AEMultiSelectionView.baml
AE.Graphics.Wpf/obj/Debug/View/AENotificationView.baml
AE.Graphics.Wpf/obj/Debug/View/AENumericTextBox.baml
AE.Graphics.Wpf/obj/Debug/View/AEResultView.baml
AE.Graphics.Wpf/obj/Debug/View/AESelectionView.baml
AE.Graphics.Wpf/obj/Debug/View/AEWaitView.baml
AE.Graphics.Wpf/obj/Debug/View/DragDrop/AEDragDropListView.baml
AE.Graphics/bin/Debug/AE.Graphics.dll
AE.Graphics/bin/Debug/AE.Graphics.pdb
AE.Graphics/obj/Debug/AE.Graphics.csproj.CoreCompileInputs.cache
AE.Graphics/obj/Debug/AE.Graphics.csproj.FileListAbsolute.txt
AE.Graphics/obj/Debug/AE.Graphics.csproj.GenerateResource.cache
AE.Graphics/obj/Debug/AE.Graphics.dll
AE.Graphics/obj/Debug/AE.Graphics.g.resources
AE.Graphics/obj/Debug/AE.Graphics.pdb
AE.Graphics/obj/Debug/AE.Graphics_MarkupCompile.cache
AE.Graphics/obj/Debug/AE.Graphics_MarkupCompile.lref
AE.Graphics/obj/Debug/CheckList.baml
AE.Graphics/obj/Debug/GeneratedInternalTypeHelper.g.cs
AE.Graphics/obj/Debug/GitInfo.cache
AE.Graphics/obj/Debug/ThisAssembly.GitInfo.g.cs
FM.Common/bin/Debug/FM.Common.dll
FM.Common/bin/Debug/FM.Common.pdb
FM.Common/obj/Debug/FM.Common.csproj.CoreCompileInputs.cache
FM.Common/obj/Debug/FM.Common.csproj.FileListAbsolute.txt
FM.Common/obj/Debug/FM.Common.dll
FM.Common/obj/Debug/FM.Common.pdb
FM.Entities/bin/Debug/FM.Entities.dll
FM.Entities/bin/Debug/FM.Entities.pdb
FM.Entities/obj/Debug/FM.Entities.csproj.CoreCompileInputs.cache
FM.Entities/obj/Debug/FM.Entities.csproj.FileListAbsolute.txt
FM.Entities/obj/Debug/FM.Entities.dll
FM.Entities/obj/Debug/FM.Entities.pdb
fm-app/.vs/FM/v15/.suo
fm-app/FM/obj/Debug/FM.App.csproj.FileListAbsolute.txt
fm-app/FM/obj/Debug/FM.App.csprojAssemblyReference.cache
fm-app/FM/obj/Debug/FMApp_MarkupCompile.cache
fm-app/FM/obj/Debug/FMApp_MarkupCompile.lref
fm-app/FM/obj/Debug/Views/ClubWindow.g.cs
fm-app/FM/obj/Debug/Views/ClubWindow.g.i.cs
fm-app/FM/obj/Debug/Views/LeagueControl.g.cs
fm-app/FM/obj/Debug/Views/LeagueControl.g.i.cs
fm-app/FM/obj/Debug/Views/MatchWindow.g.cs
fm-app/FM/obj/Debug/Views/MatchWindow.g.i.cs
fm-app/FM/obj/Debug/Views/PlayerWindow.g.cs
fm-app/FM/obj/Debug/Views/PlayerWindow.g.i.cs
fm-app/.vs/FM/v15/Server/sqlite3/storage.ide
AE.Graphics.Wpf/obj/Debug/AE.Graphics.Wpf.csprojAssemblyReference.cache
fm-app/FM/bin/
fm-app/FM/obj/
fm-app/FM/FM.App.csproj.user
fm-manager/.vs/
fm-manager/bin/
fm-manager/obj/
FM.Entities/obj/
FM.Common/obj/Debug/FM.Common.csprojAssemblyReference.cache
fm-app/.vs/FM/v16/.suo
FM.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AE.Graphics.Wpf/obj/Debug/AE.Graphics.Wpf.csproj.AssemblyReference.cache
AE.Graphics/obj/Debug/AE.Graphics.csproj.AssemblyReference.cache
AE.Graphics/obj/Debug/CheckList.g.cs
AE.Graphics/obj/Debug/CheckList.g.i.cs
AE.Graphics/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
FM.Common/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
FM.Common/obj/Debug/DesignTimeResolveAssemblyReferences.cache
FM.Common/obj/Debug/FM.Common.csproj.AssemblyReference.cache
